<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
    <body>
        <h2>Simulation Log</h2>
        <button class="btn btn-success" ng-click="vm.history.simulateNextStep()">Simulate One Step</button>
        <div>
            <ol>
                <li class="" ng-repeat="ratedActions in vm.history.ratedActionsByRound">
                    <ul>
                        <li ng-repeat="ratedAction in ratedActions | filter:vm.isNotANoOpAction">
                            <div ng-switch on="ratedAction.action.typename">
                                <div ng-switch-when="BuildEdgeAction">
                                    {{ratedAction.action.typename}}: {{ratedAction.action.startNode.id}} => {{ratedAction.action.endNode.id}}
                                    | Costs before: {{ratedAction.totalCostBefore | number:0}} | Costs after: {{ratedAction.totalCostAfter | number:0}}
                                </div>

                                <div ng-switch-when="NoOpAction">NoOp (filtered!)</div>

                                <div ng-switch-default>
                                    <!-- TODO: Provide template for all action types -->
                                    Unknown Action: {{ratedAction.action}}
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ol>
        </div>   
    </body>
</html>
