<svg ng-attr-width="{{vm.width}}"
     ng-attr-height="{{vm.height}}"
     vbox="{{vm.minx-1.3*vm.radius}} {{vm.miny-1.3*vm.radius}} {{vm.maxx+1.3*vm.radius}} {{vm.maxy+1.3*vm.radius}}"
     ng-controller="graphvizCtrl"
     ng-attr-class="{{hasBorder?'svg-border':''}} svg-fill">

    <line ng-attr-x1="{{line.x1}}" ng-attr-y1="{{line.y1}}"
          ng-attr-x2="{{line.x2}}" ng-attr-y2="{{line.y2}}"
          style="stroke: rgb(255, 0, 0); stroke-width: 2"
          ng-repeat="line in vm.lines" />


    <circle ng-attr-cx="{{node.data.position.x}}"
            ng-attr-cy="{{node.data.position.y}}"
            ng-attr-r="{{vm.radius}}"
            ng-repeat="node in graph.nodes"
            ng-click="vm.selectNode(node)"
            ng-attr-class="clickable node {{node==selectedNode?'selectedNode':''}}" />

    <text ng-attr-x="{{node.data.position.x}}"
          ng-attr-y="{{node.data.position.y+(node.id<100?0.5:0.25)*vm.radius}}"
          ng-attr-style="font-size: {{node.id<100?vm.radius:vm.radius*0.5}}pt"
          ng-repeat="node in graph.nodes"
          ng-click="vm.selectNode(node)"
          class="clickable node">{{node.id}}</text>
</svg>
