.svg-fill {
    width: 100%;
    height: 100%;
}

.svg-border {
    border: 1px solid #ddd;
    -ms-border-radius: 4px;
}

svg text {
    cursor: default;
}

svg .clickable {
    cursor: pointer;
}

svg circle.node {
    stroke: black;
    fill: rgb(244, 244, 244);
}

svg circle.selectedNode {
    fill: lightcoral;
}

svg text.node {
    fill: black;
    text-anchor: middle;
}

.table .table-selected-row td {
    background-color: lightcoral !important;
}

.footer {
padding: 40px 0;
color: #ededed;
text-align: center;
background-color: #666666;
border-top: 5px solid #515151;
}

.footer a {
    color: #ededed;
    text-decoration: underline;
}

.footer h1 {
    font-size: 25px;
}


line.edge {
    stroke: rgb(120, 120, 120);
    stroke-width: 2;
}

line.edge-start-arrow {
    marker-start: url(#markerStartArrow);
}
line.edge-end-arrow {
    marker-end: url(#markerEndArrow);
}

#markerEndArrow, #markerStartArrow {
    stroke: rgb(55, 55, 55);
    fill:rgb(55, 55, 55);
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }